/* The weird div that appears below. I just had to make this invisible. */
#ui-datepicker-div {
    display: none;
}

/* The main calendar container */
.ui-datepicker {
    height: auto;
    width: 300px;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

/* The calendar links */
.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker-header {
    color: #484848;
    line-height: 30px;
    display: grid;
    background-color: #484848;
    padding: 0;
}

.ui-datepicker-prev {
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: #3d3c3c;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    color: white;
    padding: 5px 10px;
}

.ui-datepicker-next {
    grid-column: 3 / 3;
    grid-row: 1;
    text-align: right;
    background-color: #3d3c3c;
}

.ui-datepicker-title {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1;
    background-color: #484848;
    color: #dedede;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
}

/**
* Table related CSS classes
**/

.ui-datepicker table,
th,
td {
    border-collapse: collapse;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #f7f7f7),
        color-stop(100%, #f1f1f1)
    );
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 8pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
    padding: 0;
    text-align: center;
    border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

/* The calendar numbers */
.ui-datepicker td span,
.ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

/* Calendar dates/numbers container */
.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #ededed),
        color-stop(100%, #dedede)
    );
    background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: linear-gradient(top, #ededed 0%, #dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

/* Calendar dates that are not selectable */
.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

/* Calendar dates hover states */
.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: #3d3c3c;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    filter: dropshadow(color=#4d7a85, offx=0, offy=1);
    /* border: 1px solid #55838f; */
    position: relative;
    margin: -1px;
}
